*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  height: 100vh;
  background: linear-gradient(#009688 15%, #D8DBD5 15% 100% );
  justify-content: center;
  align-items: center;
}

.d-flex{
  display: flex;
}

.container{
  flex: 0 1 1200px;
}

.container .col{
  height: 96vh;
  flex-direction: column;
}
.col > *{
  width: 100%;
}

/* Column Menu */

#sidebar{
  background-color: white;
  flex: 0 0 350px;
  max-width: 350px
}

.rowUser{
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-right: 1px solid #E0D8D0;
}

.user{
  align-items: center;
}

img{
  border-radius: 50%;
  height: 50px;
  margin: 10px 15px;
}

.rowNotifications{
  background-color: #8edafc;
}

.strings{
  flex-direction: column;
  justify-content: center;
}

.strings a, .info span{
  color: grey;
  font-size: 0.8rem;
}

.rowFilter{
  background-color: #fafafa;
}

.rowFilter > div{
  padding: 8px;
  background-color: white;
  margin: 6px 10px;
}

.input > span{
  padding: 0 15px;
}

#inputFilter {
  outline: none;
  border: none;
  width:80%;
}

.circle {
  margin: 10px 15px;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #8edafc;
  font-size: 1.3rem;
}

.col .rowUser ul li, .rowDetails ul li{
  display: inline-block;
  color: #b1b1b1;
  padding-right: 12px;
}

.rowContacts{
  overflow-y: auto;
  overflow-x: hidden;
}

.rowContacts ul li{
  list-style-type: none;
  border-bottom: 1px solid #E0D8D0;
}

.rowContacts ul li:hover{
  background-color: #eaeaea;
  cursor: pointer;
  opacity: 0.9
}

.rowContacts .last-message{
  color: grey;
  font-size: 0.9rem
}

.contact-info{
  flex-direction: column;
  justify-content: center;
}

.last-message{
  margin-top: 5px;
}

.last-message p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
}

.last-message .check{
  color: #8edafc;
  margin-right: 4px;
}

.active{
  background-color: #eaeaea;
}

.rowContacts ul li:last-of-type{
  border-bottom: none;
}

.rowContacts ul li > p{
 margin-top: 10px;
}

/* Column Chat */

#chat{
  flex: 1 1 850px;
  position: relative;
}

.rowDetails{
  background-color: #eaeaea;
  justify-content: space-between;
  align-items: center;
}

.info{
  flex-direction: column;
  justify-content: center;
}

.rowMainChat{
  height: calc(100% - 140px);
  background: url('../img/mine.jpg');
  overflow-y: auto;
}

.rowMainChat ul{
  flex-direction: column;
  padding: 40px 40px 0 40px
}

.message{
  position: relative;
  width: 280px;
  border-radius: 10px;
  margin: 5px 0px;
  padding: 10px;
  flex-direction: column;
  background-color: white;
}

.message > span{
  position: absolute;
  right: 10px;
  top: 10px;
  color: grey;
  opacity: 0.5;
  background-color: inherit;
  display: none;
}

.message > p{
  padding-right: 20px;
}

.message:hover #chevron{
  display:flex;
  background-color: inherit;
}

.message.sent{
  background-color: #D5F9BA;
  align-self: flex-end;
}

.message.received{
  background-color: white;
}

.message p:last-child{
  font-size: 0.6rem;
  color: grey;
  align-self: flex-end;
  margin-top: 5px;
}

.rowInputText{
  height: 70px;
  background-color: #f3eeea;
}

.emoticon, .audio{
  flex-basis: 15%;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  color: grey;
}

.emoticonMenu{
  position: absolute;
  width: 100%;
  background-color: #f3eeea;
  bottom : 70px;
  font-size: 1.5rem;
  color: grey;
  display: none;
  padding-left: 10px;
}

.border-bottom{
  border-bottom: 3px solid #009688;
}

.head-selection{
  width: 100%;
}

.body-section{
  padding-top: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 150px;
  min-height: 150px;
  overflow: auto;
}

.titleEmoticon{
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 1.1rem;
}

.emoji{
  cursor: pointer;
}

.emoticonMenu .head-selection span {
  flex-basis: calc(100% / 9);
  height: 50px;
  justify-content: center;
  align-items: center;
}

.show{
  display: inline-block;
}

.sendMessage{
  flex-basis: 70%;
  align-items: center;
}

#inputSendMessage{
 width: 100%;
 padding: 15px;
 height: 50px;
 outline: none;
 border: none;
 border-radius: 5px;
}

::placeholder, .input > span{
  color: #E0D8D0;
}
