<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/dataEmoticon.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="d-flex">
    <div id="root" class="container d-flex">
      <!-- Sidebar with different element -->
      <div id="sidebar" class="col d-flex">
        <!-- Username and list icons menu -->
        <div class="rowUser d-flex">
          <div class="user d-flex">
            <img :src="loggedUser.imgSrc" alt="">
            <span>{{ loggedUser.name }}</span>
          </div>
          <ul class="nav-link">
            <li><span><i class="fas fa-circle-notch"></i></span></li>
            <li><span><i class="fas fa-comment-alt"></i></span></li>
            <li><span><i class="fas fa-ellipsis-v"></i></span></li>
          </ul>
        </div>
        <!-- Notifications active/deactive -->
        <div class="rowNotifications d-flex">
          <div class="circle d-flex"><i class="fas fa-bell-slash"></i></div>
          <div class="strings d-flex">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a href="#"><p>Attiva notifiche desktop</p></a>
          </div>
        </div>
        <!-- Filter search -->
        <div class="rowFilter">
          <div class="input">
            <span><i class="fas fa-search"></i></span>
            <input id="inputFilter" v-model="filterInput" type="text" placeholder="Cerca o inizia una nuova chat" value="">
          </div>
        </div>
        <!-- Contact list -->
        <div class="rowContacts">
          <ul>
            <li @click="activatedContact(contact)" v-for="contact in filteredContacts" :class="{active: contact === activeContact}" class="d-flex">
              <div class="contact-photo">
                <img :src="contact.imgSrc" alt="">
              </div>
              <div class="contact-info d-flex">
                <p>{{ contact.name }}</p>
                <div class="last-message d-flex">
                  <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path fill="currentColor" d="M17.394 5.035l-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-.427-.388a.381.381 0 0 0-.578.038l-.451.576a.497.497 0 0 0 .043.645l1.575 1.51a.38.38 0 0 0 .577-.039l7.483-9.602a.436.436 0 0 0-.076-.609zm-4.892 0l-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-2.614-2.556a.435.435 0 0 0-.614.007l-.505.516a.435.435 0 0 0 .007.614l3.887 3.8a.38.38 0 0 0 .577-.039l7.483-9.602a.435.435 0 0 0-.075-.609z"></path></svg>
                  <p>{{ contact.message[contact.message.length - 1].text }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Principal chat section -->
      <div id="chat" class="col d-flex">
        <!-- Active contact and list icon menu -->
        <div class="rowDetails d-flex">
          <div class="contactInfo d-flex">
            <img :src="activeContact.imgSrc" alt="">
            <div class="info d-flex">
              <p>{{ activeContact.name }}</p>
              <span>Ultimo accesso {{ activeContact.lastSeen | formatDate }}</span>
            </div>
          </div>
          <ul>
            <li><span><i class="fas fa-search"></i></span></li>
            <li><span><i class="fas fa-paperclip"></i></span></li>
            <li><span><i class="fas fa-ellipsis-v"></i></span></li>
          </ul>
        </div>
        <!-- Main chat window -->
        <div class="rowMainChat">
          <ul class="d-flex">
            <li v-for="(message, messIndex) in activeContact.message" :class="{sent: activeContact.message[messIndex].sent}" class="message d-flex">
              <p>{{ message.text }}</p>
              <span id="chevron"><i class="fas fa-chevron-down"></i></span>
              <p>{{ message.date | formatDate }}</p>
            </li>
          </ul>
        </div>
        <!-- Emoticon menu -->
        <div class="emoticonMenu" :class="{show: isEmoticonActive}">
          <div class="head-selection d-flex">
            <template v-for="(icon, categoryIndex) in emoticonHead">
               <span class="box d-flex" :class="{'border-bottom' : categoryIndex == emoticonHeadIndex}" @click="emojiHeadSelected(categoryIndex)">
                 <i :class="icon"></i>
               </span>
              </template>
          </div>
          <p class="titleEmoticon">{{dataEmoticon[emoticonHeadIndex][0].title}}</p>
          <div class="body-section d-flex">
            <template v-for="(emojiList, index) in dataEmoticon[emoticonHeadIndex]">
              <!-- <p class="titleEmoticon">{{emojiList.title}}</p> -->
              <div class="emoji" @click="selectEmoji(indexEmoji, emoticonHeadIndex)" v-for="(emoji,indexEmoji) in emojiList.emoji">
                {{emoji}}
              </div>
            </template>
          </div>

        </div>
        <!-- Input message, emoticons and voice messages -->
        <div class="rowInputText d-flex">
          <div class="emoticon d-flex">
            <span @click="showEmoticon"><i class="far fa-smile"></i></span>
          </div>
          <div class="sendMessage d-flex">
            <input id="inputSendMessage" type="text" placeholder="Scrivi un messaggio" v-model="inputUserMessage" @keyup.enter="sendMessage">
          </div>
          <div class="audio d-flex">
            <span><i class="fas fa-microphone"></i></span>
          </div>
        </div>

      </div>
    </div>


    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
